<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mini Simple Cart{% endblock %}</title>
    <meta name="description" content="{% block description '' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- StyleSheets -->
    {% block stylesheets %}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <!--<![endif]-->
    {% endblock %}

    <!-- Icons and apple-touch-icon (in directory web)  -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block content %}
    <header>
        <div class="container">
            <div class="pure-g padding-horizontal-xs">
                <div class="pure-u-3-5">
                    <div class="btn-lg">
                        <h3><a href="{{ path('app_index') }}">MiSimpleCart App Symfony2</a></h3>
                    </div>
                </div>

                <div class="pure-u-2-5 text-right">
                    <div class="btn-lg">
                        <a href="" class="pure-button button-success btn-xs">
                            <i class="fa fa-shopping-cart"></i> <span id="totalShop"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main container">

        {% block body %} {% endblock %}

        <footer class="padding-horizontal-lg">
            <div class="container-xs">
                <div id="social-footer">
                    <ul>
                        <!-- <li> <a href="#" class="facebook"> <i class="fa fa-facebook"></i> </a> </li> -->
                        <li> <a href="https://twitter.com/ualapi" class="twitter"> <i class="fa fa-twitter"></i> </a> </li>
                        <li> <a href="https://github.com/Ualapi" class="github"> <i class="fa fa-github-alt"></i> </a> </li>
                        <!--<li> <a href="#" class="youtube"> <i class="fa fa-youtube-play"></i> </a> </li> -->
                    </ul>
                </div>
                <p class="copy">MiniSimpleCart App Symfony2  <span><i class="fa fa-bullseye"></i> Ualapi</span></p>
            </div>
        </footer>

    </div>
{% endblock %}

<!-- JavaScripts -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('js/my.js') }}"></script>
    <script src="{{ asset('js/holder.js') }}"></script>
{% endblock %}

<!-- Google Analytics:  UA-XXXXX-X -> your ID -->

</body>
</html>
