{% extends 'AppBundle:app:layout.html.twig' %}

{% block countItems %} {{ formsCart|length - 1 >= 0 ? formsCart|length - 1: 0 }} {% endblock %}

{% block trashbutton %}
    {% if formsCart|length - 1 > 0 %}
        <a href="{{ path('app_empty_cart') }}" class="pure-button button-success btn-xs">
            <i class="fa fa-trash-o"></i>
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="pure-g padding-horizontal-lg">
        <div class="pure-u-1">
            <section class="box-xs">
                <div class="box-object">
                    <form action="{{ path('app_update_product') }}" method="post">
                        {% for key, form  in formsCart if key != '_token' %}
                            {% set product = form.vars.value %}
                            <div class="features-without-border pure-g">
                                <div class="pure-u-6-24">
                                    {{ product.name }}
                                </div>
                                <div class="pure-u-14-24">
                                    {{ form_widget(form.quantity) }}
                                </div>
                                <div class="pure-u-4-24 text-right">
                                    {{ product.price }}  &euro;
                                </div>
                            </div>
                        {% endfor %}
                        {{ form_rest(formsCart) }}
                        <div class="features-without-border pure-g">
                            <div class="pure-u-24-24 text-right">
                                <input type="submit" value="Update" class="pure-button button-success btn-xs">
                            </div>
                        </div>
                    </form>
                </div>
                    <div class="features-without-border pure-g">
                        <div class="pure-u-24-24 text-right">
                            <b>Total: </b> {{ totalToPay }} <b>€</b>
                        </div>
                    </div>
                    <div class="features-without-border pure-g">
                        <div class="pure-u-24-24 text-right">
                           <input type="submit" value="Update to cart" class="pure-button button-success btn-xs">
                        </div>
                    </div>
                    {{ form_end(form) }}

            </section>
        </div>
    </div>
    <div class="pure-g padding-horizontal-lg">
        {% for key, form in formProducts %}
            {% set product = form.vars.value %}
            <div class="pure-u-1 pure-u-md-8-24">
                <article class="box-xs">
                    <div class="box-object">
                        <div class="box-object-inside">
                            <img src="holder.js/300x300">
                        </div>
                        <div class="features">
                            <div class="pure-g">
                                <div class="pure-u-1">
                                    <div class="title">
                                        <h4>{{ product.name }}</h4>
                                        <p class="description">{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_start(form,{'action': path('app_add_product', {id: product.id}) }) }}
                        <div class="features">
                            <div class="pure-g">
                                <div class="pure-u-12-24">
                                    <div class="price">
                                        {{ product.price|number_format(2, '.') }} USD
                                    </div>
                                </div>
                                <div class="pure-u-12-24">
                                    <div class="text-right">
                                        {{ form_row(form.quantity) }}
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features">
                            <div class="pure-g">
                                <div class="pure-u-1">
                                    <input type="submit" value="Add to cart" class="pure-button button-secondary btn-100">
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
