{% extends 'layout.html.twig' %}

{% block body %}
    {% if form is not empty %}
    <div class="pure-g padding-horizontal-lg">
        <div class="pure-u-1">
            <section class="box-xs">
                <div class="box-object">
                    {{ form_start(form,{'action': path('app_update_product') }) }}
                    {% for key, product  in app.session.get('cart') %}
                        <div class="features-without-border pure-g">
                            <div class="pure-u-6-24">
                                {{ form_row(form[key]) }}
                                {{ form_errors(form[key]) }}
                            </div>
                            <div class="pure-u-14-24">
                                {{ product.name }}
                            </div>
                            <div class="pure-u-4-24 text-right">
                                {{ product.price }} €
                            </div>
                        </div>
                    {% endfor %}
                       <div class="features-without-border pure-g">
                           <div class="pure-u-24-24 text-right">
                               <input type="submit" value="Update" class="pure-button button-success btn-xs">
                           </div>
                       </div>
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
    {% endif %}

    <div class="pure-g padding-horizontal-lg">

        {% for key, product in products %}
            <div class="pure-u-1 pure-u-md-8-24">
                <article class="box-xs">
                    <div class="box-object">
                        <div class="box-object-inside">
                            <img src="holder.js/300x300">
                        </div>
                        <div class="features">
                            <div class="pure-g">
                                <div class="pure-u-1">
                                    <div class="title">
                                        <h4>{{ product.name }}</h4>
                                        <p class="description">{{ product.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_start(formProducts[key],{'action': path('app_add_product', {id: product.id}) }) }}
                        <div class="features">
                            <div class="pure-g">
                                <div class="pure-u-12-24">
                                    <div class="price">
                                        {{ product.price|number_format(2, '.') }} USD
                                    </div>
                                </div>
                                <div class="pure-u-12-24">
                                    <div class="text-right">
                                        {{ form_row(formProducts[key].quantity) }}
                                        {{ form_errors(formProducts[key].quantity) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="features">
                            <div class="pure-g">
                                <div class="pure-u-1">
                                    <input type="submit" value="Add to cart" class="pure-button button-secondary btn-100">
                                </div>
                            </div>
                        </div>
                        {{ form_end(formProducts[key]) }}
                    </div>
                </article>
            </div>

        {% endfor %}

    </div>

{% endblock %}
